<%- include('partials/header') -%> 

  <nav class="navbar flex-md-nowrap p-0">
    <p class="navbar-brand" >CoviTrack <span>INDIA</span></p>
    <form action="/" method="POST" class="form-inline">

      <select name="stateSelect" id="stateSelect" class="btn btn-outline-dark stateSelect mr-2" >
        <option value="" >Select state</option>
      </select>

      <select name="districtSelect" id="districtSelect" class="btn btn-outline-dark districtSelect mr-2">
        <option value="">Select state before district</option>
      </select>

      <button class="btn btn-outline-info mr-2"><i class="fas fa-search mr-2"></i>search</button>
    </form>
  </nav>


  <div class="container-fluid">
      <main role="main" class=" col-sm-12 ml-sm-auto pt-3 px-4">
        <h1 class="font-weight-bolder">India</h1>
        <hr>
        <div class="row h-auto m-2">
          <div class="col-md-6 border-right">
            <h4 class="text-center">Cases</h4>
            <h6>Confirmed</h6>
            <h2 class="data-text"><%=totalConfirmedEJS%><span class="new-cases"> +<%=dailyConfirmedEJS%> new</span></h2>
            <hr>
            <h6>Recovered</h6>
            <h2 class="data-text"><%=totalRecoveredEJS%></h2>
            <hr>
            <h6>Deaths</h6>
            <h2 class="data-text"><%=totalDeathsEJS%></h2>
          </div>
          <div class="col-md-6">
            <h4 class="text-center">Vaccination</h4>
            <h6>First Dose</h6>
            <h2 class="data-text"><%=firstDoseEJS%></h2>
            <hr>
            <h6>Fully Vaccinated</h6>
            <h2 class="data-text"><%=fullyVaccinatedEJS%></h2>
            <hr>
            <h6>% Fully vaccinated</h6>
            <h2 class="data-text"><%=percentageFullyVaccinatedEJS%>%</h2>
          </div>
          <p class="time-stamp ml-auto">Source: MOHFW · <a target="_blank" href="https://covid19india.org">Covid19India.org</a></p>
        </div>
        <hr class="break-line-strong mt-5">

        <div class="mt-5-custom text-center">
          <h4 class="mb-5 mt-5">Cavid19 graphic representation (India)</h4>
          <canvas id="myChart" width="800" height="400"></canvas>
        </div>

        <hr class="break-line-strong mt-5">
        
        <h2 class="mt-5 mb-5 text-center states-heading">States / Union Territories</h2>
        <p><div style="width:20px; height:15px; background-color: rgba(255, 0, 0, 0.404); display: inline-block;"></div><span> Top 5 states with <span style="color: rgb(218, 44, 0);">HIGHEST ACTIVE</span> cases</span></p>
        <p><div style="width:20px; height:15px; background-color: rgba(0, 128, 0, 0.268); display: inline-block;"></div><span> Top 5 states with <span style="color: rgb(0, 110, 0);">LOWEST ACTIVE</span>  cases</span></p>
        <div class="table-responsive mt-2">
          <table class="table table-striped table-lg">
            <thead class="table-dark">
              <tr>
                <th>State/UT</th>
                <th>Confirmed</th>
                <th>Active</th>
                <th>Recovered</th>
                <th>Deceased</th>
                <th class="w-25">Vaccinated</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i = 0; i<stateNamesEJS.length; i++){ %>
                <tr>
                  <td class="stateName"><%= stateNamesEJS[i] %> </td>
                  <td><%= stateConfirmedEJS[i] %> </td>
                  <td class="activeCases"><%= stateActiveEJS[i] %> </td>
                  <td><%= stateRecoveredEJS[i] %> </td>
                  <td><%= stateDeceasedEJS[i] %> </td>
                  <td><%= stateVaccinatedEJS[i] %> </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </main>
  </div>

    <!-- data from covid19india api cannot be sent to chart.js so we'll transfer that data here, 
      and hide it, but we'll still be able to get this data in chart.js and make a graph out of it -->
    <% for(var i=0; i < monthData.length; i++) { %>
      <p class="monthData" style="display: none;">
        <%= monthData[i] %>
      </p>
    <% } %>
  
    <% for(var i=0; i < monthDates.length; i++) { %>
      <p class="monthDates" style="display: none;">
        <%= monthDates[i] %>
      </p>
     <% } %>

<%- include('partials/footer') -%> 

