<%- include('partials/header') -%> 

  <nav class="navbar bg-dark flex-md-nowrap sticky-top p-1">
    <p class="navbar-brand">Covid Tracker India</p>
    <form action="/" method="POST" class="form-inline">

      <select name="stateSelect" id="stateSelect" class="btn btn-light stateSelect mr-2" >
        <option value="" >Select state</option>
      </select>

      <select name="districtSelect" id="districtSelect" class="btn btn-light districtSelect mr-2">
        <option value="">Select state before district</option>
      </select>

      <button class="btn pl-3 btn-success mr-2"><i class="fas fa-search mr-2"></i></button>
    </form>
  </nav>


  <div class="container-fluid">
      <main role="main" class="m-md-5">

        <div class="text-center">
          <h1 class="font-weight-bolder text-center india-heading">India</h1>
          <p class="population">POPULATION: 0  </p> 
          <hr class="mb-4">
          <div class="data-section row">
            <div class="col-lg-6 cases data-box">
              <h3 class="mb-4 box-heading">Cases</h3>
              <h6><span style="color: rgb(255, 166, 0);">●</span> Active</h6>
              <p class="">
                <%=totalActiveEJS%>
              </p>

              <hr>
              <h6><span>●</span> Confirmed</h6>
              <p class="">
                <%=totalConfirmedEJS%> <span class="daily-confirmed"> <i class="fas fa-arrow-up"></i><%= dailyConfirmedEJS %> </span>
              </p>

              <hr>
              <h6><span style="color: rgba(20, 175, 0, 0.973);">●</span> recovered </h6>
              <p class="">
                <%=totalRecoveredEJS%>
              </p>

              <hr>
              <h6><span style="color: rgba(255, 0, 0, 0.973);">●</span> Deaths </h6>
              <p class="">
                <%=totalDeathsEJS%>
              </p>

            </div>  
            <div class="col-lg-6 vaccination data-box">
              <h3 class="mb-4 box-heading">Vaccination <i class="fas fa-syringe"></i></h3>
              <h6><span style="color: rgba(0, 132, 255, 0.89);">●</span> First dose </h6>
              <p class="">
                <%=firstDoseEJS%>
              </p>
              <hr>

              <h6><span style="color: rgba(0, 132, 255, 0.89);">●</span> Fully vaccinated</h6>
              <p class="">
                <%=fullyVaccinatedEJS%>
              </p>
              <hr>

              <h6><span style="color: rgba(0, 132, 255, 0.89);">●</span>% Fully vaccinated</h6>
              <p class="">
                <%=percentageFullyVaccinatedEJS%>%
              </p>
              <!-- <hr> -->
            </div>
          </div>
          <p class="source-stamp">Source: MOHFW · <a target="_blank" href="https://covid19india.org">Covid19India.org</a></p>
        </div>

        <hr class="last">

        <div class="mt-5-custom text-center myChart">
          <h4 class="mb-5">Covid19 in India - last week graphical representation</h4>
          <canvas id="myChart" width="800" height="400"></canvas>
        </div>

        <hr class="break-line-strong mt-5">
        
        <h2 class="mt-5 mb-4 text-center states-heading">States / Union Territories</h2>
        <div class="table-responsive mt-2">
          <table class="table table-striped table-lg">
            <thead class="table-dark">
              <tr>
                <th>State/UT</th>
                <th>Confirmed</th>
                <th>Active</th>
                <th>Recovered</th>
                <th>Deceased</th>
                <th class="w-25">Vaccinated</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i = 0; i<stateNamesEJS.length; i++){ %>
                <tr>
                  <td class="stateName"><%= stateNamesEJS[i] %> </td>
                  <td><%= stateConfirmedEJS[i] %> </td>
                  <td class="activeCases"><%= stateActiveEJS[i] %> </td>
                  <td><%= stateRecoveredEJS[i] %> </td>
                  <td><%= stateDeceasedEJS[i] %> </td>
                  <td><%= stateVaccinatedEJS[i] %> </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </main>
  </div>

      <!-- hidden data got from app.js and to be transfered to myChart.js to make graph -->
      <% for(var i=0; i < monthData.length; i++) { %>
        <p class="monthData" style="display: none;">
          <%= monthData[i] %>
        </p>
      <% } %>
    
      <% for(var i=0; i < monthDates.length; i++) { %>
        <p class="monthDates" style="display: none;">
          <%= monthDates[i] %>
        </p>
       <% } %>

<%- include('partials/footer') -%> 

